%table.table{'ng-init' => 'loadStaffs()'}
  %thead
    %tr
      %th #
      %th Name
      %th Email
      %th Type
      %th Actions
  %tbody
    %tr{'ng-repeat' => 'u in staffs'}
      %td {{ $index }}
      %td {{ u.name }}
      %td {{ u.email }}
      %td {{ u.type }}
      %th
        %a{href: 'javascript:void(0);', 'ng-click' => 'destroy(u.id)'} Destroy

%form.form
  %h3 New Staff
  .form-group
    %label Name
    %input.form-control{type: 'text', 'ng-model' => 'newStaff.name'}

  .form-group
    %label Email
    %input.form-control{type: 'email', 'ng-model' => 'newStaff.email'}

  .form-group
    %label Password
    %input.form-control{type: 'password', 'ng-model' => 'newStaff.password'}

  %button.btn.btn-default{'ng-click' => 'create()'} Create
