.row{'ng-init' => 'loadTicket()'}
  .col-md-8
    %h1 {{ ticket.subject }}

    %p {{ ticket.body }}

    %div{'ng-if' => '!loggedIn'}
      %p <b>Department</b>: {{ ticket.department_name }}
      %p <b>Status</b>: {{ ticket.status_name }}
      %p <b>Assignee</b>: {{ ticket.staff_name }}

    %div{'ng-if' => 'loggedIn'}
      %p
        %b Department
        %select.form-control{'ng-options' => 'department.id as department.name for department in departments', 'ng-model' => 'ticket.department_id'}
      %p
        %b Status
        %select.form-control{'ng-options' => 'status.id as status.name for status in ticketStatuses', 'ng-model' => 'ticket.status_id'}

      %p
        %b Assignee (<a href='javascript:void(0);' ng-click='takeOwnerShip()'>Take Ownership</a>)
        %select.form-control{'ng-options' => 'staff.id as staff.name for staff in staffs', 'ng-model' => 'ticket.staff_id'}

    %div
      %h3 Changes
      %ul
        %li{'ng-repeat' => 'change in formattedChangelog'}
          %b {{ change.updated_at[1] | strDate:"YYYY/DD/MM HH:mm" }}

          {{ change.message }}
